# Created by https://www.toptal.com/developers/gitignore/api/web,netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=web,netbeans

### NetBeans ###
**/nbproject/private/*
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.toptal.com/developers/gitignore/api/web,netbeans