.sidebar{
    background-color: white;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    border-radius: 15px;
    height: 84vh;
    position: fixed;
    top: 12%;
    width: 20%;
    margin-left: 1rem;
}

.sidebar a{
    display: flex;
    align-items: center;
    color: #363949;
    height: 3.7rem;
    gap: 2rem;
    position: relative;
    margin-left: 1.2rem;
    font-size: 1rem;
}

.sidebar a.active{
    width: 90%;
    color: #6C9BCF;
    background-color: rgba(132, 139, 200, 0.18);
    margin-left: 0;
}

.sidebar a:hover{
    color: #6C9BCF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
}

.main-content{
    margin-top: 4rem;
    margin-left: 20%;
}

.main-content .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.main-content .analyse > div{
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-content .analyse > div .status{
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.main-content .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

.main-content .analyse .sales h1{
    color: #f07c20;
}

.main-content .analyse .lecturer h1{
    color: #3b9dc3;
}

.main-content .analyse .student h1{
    color: #5b0399;
}

.main-content .rank{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    text-align: center;
}

.main-content .rank > div{
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.main-content .rank >div >div{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.main-content .rank table{
    text-align: center;
}

.main-content .rank table td{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
}

.title{
    margin-left: 0.6rem;
    font-size: 1rem;
}

.list-lecturer .status{
    padding: 1rem;
    border-radius: 25%;
    text-align: center;
    color: white;
}

.list-lecturer .btn1 {
    background-color: green;
}

.list-lecturer .btn1:hover {
    background-color: #00a308;
}

.list-lecturer .btn2 {
    background-color: gray;
}

.list-lecturer .btn2:hover {
    background-color: grey;
}

.list-lecturer .vision{
    color: grey;
    vertical-align: middle;
}

.list-lecturer .vision:hover {
    color: #009cad;
}

.list-lecturer .delete{
    color: grey;
    vertical-align: middle;
}

.list-lecturer .delete:hover{
    color: #ff4e47;
}